/* Header
================================================== */
#header {
	background:url('../images/header-bg.jpg') top center no-repeat;
	background-size: cover;
	min-height: 680px;
	width: 100%;
	padding-bottom:2em;
}
#header .logo {
	margin-top: 1em;
	float: right;
}

#header .headertext {
	margin-top: 10em;
	animation-delay: 0.7s;
	-webkit-animation-delay: 0.7s;
	margin-bottom: 2em;
}
#header .bookcover {
	margin-top: 8em;
	animation-delay: 0.7s;
	-webkit-animation-delay: 0.7s;
}
#header h1 {
	color: #fff;
	font-weight:100;
	font-size: 3.5em;
	line-height: 1;
	text-shadow: 0 1px 2px rgba(0,0,0,.2);
	margin-bottom: 0.3em;
}
#header p {
	color: #fff;
	font-size: 1.33em;
	line-height: 1.5;
	text shadow: 0 1px 2px rgba(0,0,0,.2);
	margin-bottom: 1.2em;
}
#header p strong {
	color: #fff;
}


/* Authors
================================================== */
.coauthors {
	background: #2cace2;
	text-align: center;
	padding-top: 2em;
	padding-bottom: 3em;
}
.coauthors h2{
	color: #fff;
	font-weight: 100;
	text-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.coauthors p {
	color: #fff;
	text-shadow: 0 1px 2px rgba(0,0,0,.2);
	font-size: 1.2em;
}
.author {
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
	margin-top: 3em;
	height: 100%;
	display: inline-block;
}

.author-name {
	color:#2cace2;
	font-size: 1.2em;
	text-transform: uppercase;
	margin: 0;
	font-weight: 600;
	padding: 1em;
}

p.author-bio {
	color: #9d9d9d;
	text-shadow: none;
	line-height: 1.2;
	position: relative;
	font-size: 1.1em;
	text-align: left;
}


@media (min-width: 768px) {

/* top row */
.col .well{ 
    margin-bottom: -99999px;
    padding-bottom: 99999px;  
}

/* bottom row */
.col-base{ 
    margin-top: -15px; /* cut off top portion of bottom wells */
}
}

@media (max-width: 767px) {
.row.base{
    display:none;
}
}

.col-wrap{
    overflow: hidden; 
}


/* Testimonials
================================================== */
#testimonials {
	text-align: center;
	padding-top: 2em;
	padding-bottom: 3em;
}
#testimonials h2 {
	color: #2cace2;
	font-weight: 100;
}
#testimonials p {
	color: #9d9d9d;
	font-size: 1.2em;
}
#testimonials blockquote {
	border: none;
	text-align: left;
	padding: 0 1.5em 0 0;
	font-size: 1em;
	color: #4d4d4d;
	line-height: 1.4;
	margin-top: 1em;
}
#testimonials .avatar img {
	border-radius: 50%;
	float: left;
	display: inline;
	margin-right: 1em;
	width: 65px;
	height: 65px;
}
#testimonials .avatar p {
	text-align: left;
	padding-top: 1.5em;
	color: #5d5d5d;
	font-weight: 900;
}

/* Action
================================================== */
#action {
	background:url('../images/action-bg.jpg') top center no-repeat;
	background-size: cover;
	min-height: 180px;
	width: 100%;
	padding-top: 2em;
	padding-bottom: 3em;
	text-align: center;
}
#action h2 {
	color: #fff;
	font-weight: 100;
	text-shadow: 0 1px 2px rgba(0,0,0,.2);
}
#action p {
	color: #fff;
	text-shadow: 0 1px 2px rgba (0,0,0,.2);
	font-size: 1.2em;
}


/* Footer
================================================== */
#footer {
	background: #2cace2;
	padding: 1em 0;
	text-align: left;
}
#footer nav ul {
	margin-top: 0.5em;
}
#footer nav ul li {
	display: inline;
	margin: 0;
}
#footer nav ul li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0 1em 0 0;
	font-size: 1.1em;
}
#footer img {
	float: right;
}
#footer p {
	color: #fff;
	line-height: 1;
	text-transform: uppercase;
	font-size: 0.7em;
	margin-top: 0.5em;
}

/* Buttons
================================================== */
.btn-primary {
	background-color: #2cace2;
	margin-left: 1em;
}

.btn-primary:hover {
	background-color: #0483c3;
}

.btn-success {
	background: #2ecc71;
}

.btn-success:hover {
	background: #1fae5c;
}


